<div class="container">
    <h2>Estamos aqui para fazer uma pesquisa de preferência... </h2>
    <h3 style="margin-top: 50px;">De acordo com a lista de Pokémons exibida a seguir, escolha seu prefeido:</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col mt-3">
            <div class="card border-primary" style="max-width: 15rem; ">
                <h4 class="card-header"> Vaporeon</h4>
                <div class="card-body">
                    <div class="card-text">
                        <img src="./assets/img/azulzin.png" width="130" alt="Vaporeon">
                    </div>
                    <button class="btn btn-primary" id="myBtn" onclick="alert('&#9733; Você favoritou o Vaporeon. &#9733;')">Escolher</button>

                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card border-danger" style="max-width: 15rem;">
                <h4 class="card-header"> Charmander</h4>
                <div class="card-body">
                    <div class="card-text">
                        <img src="./assets/img/charmander.png" width="142" alt="charmander"> </div>
                    <button class="btn btn-primary" id="myBtn" onclick="alert('&#9733; Você favoritou o charmander. &#9733;')">Escolher</button>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card border-warning" style="max-width: 15rem;">
                <h4 class="card-header"> Pikachú</h4>
                <div class="card-body">
                    <div class="card-text">
                        <img src="./assets/img/pikachuuuuu.png" width="167" alt="Pikachu">
                    </div>
                    <button class="btn btn-primary" id="myBtn" onclick="alert('&#9733; Você favoritou o Pikachu. &#9733;')">Escolher</button>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            <div class="card border-danger mb-3" style="max-width: 15rem;">
                <h4 class="card-header"> Vulpix</h4>
                <div class="card-body">
                    <div class="card-text">
                        <img src="./assets/img/raposinha.png" width="130" alt="Vulpix">
                    </div>
                    <button class="btn btn-primary" id="myBtn" onclick="alert('&#9733; Você favoritou o Vulpix. &#9733;')">Escolher</button>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card border-primary mb-3" style="max-width: 15rem;">
                <h4 class="card-header"> Squirtle</h4>
                <div class="card-body">
                    <div class="card-text">
                        <img src="./assets/img/tartaruga.png" width="145" alt="Squirtle">
                    </div>
                    <button class="btn btn-primary" id="myBtn" onclick="alert('&#9733; Você favoritou o Squirtle. &#9733;')">Escolher</button>
                </div>
            </div>
        </div>

        <div class="col mt-3">
            <div class="card border-info" style="max-width: 15rem;">
                <h4 class="card-header"> Marill</h4>
                <div class="card-body">
                    <div class="card-text">
                        <img src="./assets/img/fofo.png" width="130" alt="Marill">
                    </div>
                    <button class="btn btn-primary" id="myBtn" onclick="alert('&#9733; Você favoritou o Marill. &#9733;')">Escolher</button>
                </div>
            </div>
        </div>
    </div>
</div>