<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">


    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/favorite">Meus Favoritos <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div style="text-align:center">
    <h1>
        Bem vindo ao site
    </h1>
    <img src="./assets/img/pokemon_go_batalha_1_29RolTg.jpg" width="300" alt="Logo">
</div>
<router-outlet>
</router-outlet>